body {
  background-image: linear-gradient(87deg, #ecf3f69e, #46dfff);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav {
  color: black;
  background-color: rgb(105 219 255 / 63%);
}

.nav ul {
  /* to stop flowing of li out of bgcolor while  using float: left;  */
  overflow: auto;
}

.nav li {
  float: left;
  list-style: none;
  margin: 10px 10px;
}

.nav li a {
  color: black;
  margin: 10px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: crimson;
}

#head1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.container li {
  font-size: larger;
  list-style: none;
  padding: 20px;
  box-shadow: 1px 1px 20px 12px rgb(247 230 230 / 55%);
}

.container li a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 17px 15px;
  margin-top: auto;
}

